@page
@model DriveBotsWebsite.Pages.Applicants.LicenseApplications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].ApplicationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].LicenceClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].UploadedFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseApplication[0].SubmittedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LicenseApplication) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
