@page
@model DriveBotsWebsite.Pages.Home.ApplicantapplicationModel
@{
    ViewData["Title"] = "Application History";
    Layout = "_applicantLayout";
}
<div class="sidebar">

    @Html.ActionLink(
            linkText: "Home",
            actionName: "Applicant",
            controllerName: "Home",
            routeValues: null
            )

    @Html.ActionLink(
            linkText: "Applications",
            actionName: "Applications",
            controllerName: "Home",
            routeValues: null
            )

    @Html.ActionLink(
            linkText: "Appointments",
            actionName: "Appointments",
            controllerName: "Home",
            routeValues: null
            )

    @Html.ActionLink(
            linkText: "Payments",
            actionName: "Payment",
            controllerName: "Home",
            routeValues: null
            )

    @Html.ActionLink(
            linkText: "Settings",
            actionName: "ApplicantSettings",
            controllerName: "Home",
            routeValues: null
            )
</div>
<div class="search-container">
    <input type="text" placeholder="Search..." class="search-box" />
    <button type="submit" class="search-button">Search</button>
</div>


<div class="table-container">
    <h2>License Applications</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Application Type</th>
                <th>License Class</th>
                <th>Submitted Date</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Learner's License</td>
                <td>Class B</td>
                <td>20-05-2025</td>
                <td>lemi@gmail.com</td>
            </tr>
            <tr>
                <td>License Renewal</td>
                <td>Class A</td>
                <td>29-04-2024</td>
                <td>anitah7@gmail.com</td>
            </tr>
        </tbody>
    </table>
    <p><strong>Applications Count:</strong> 2</p>
</div>

<div class="table-container">
    <h2>Scheduled Appointments</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Appointment Type</th>
                <th>Date</th>
                <th>Location</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eye Test</td>
                <td>01/08/2025</td>
                <td>Kasane</td>
                <td>lemi@gmail.com</td>
            </tr>
            <tr>
                <td>Road Test</td>
                <td>09/09/2025</td>
                <td>Maun</td>
                <td>nime@gmail.com</td>
            </tr>
            <tr>
                <td>PrDp</td>
                <td>15/06/2025</td>
                <td>Molepolole</td>
                <td>anitah7@gmail.com</td>
            </tr>
        </tbody>
    </table>

    <p><strong>Appointment Count:</strong> 3</p>
</div>


