@page
@model DriveBotsWebsite.Pages.Home.TransactionModel
﻿@{
    ViewData["Title"] = "Transactions";

    Layout = "_adminLayout";
}


<body>

    <div class="sidebar">
        @Html.ActionLink(
                 linkText: "Home",
                 actionName: "Admin",
                 controllerName: "Home",
                 routeValues: null,
                 htmlAttributes: new { @class = "nav-item" }
                 )

        @Html.ActionLink(
                 linkText: "Applications",

                 actionName: "Applications",

                 controllerName: "Home",
                 routeValues: null,
                 htmlAttributes: new { @class = "nav-item" }
                 )

        @Html.ActionLink(

                 linkText: "Report and Analytics",
                 actionName: "ReportandAnalytics",


                 controllerName: "Home",
                 routeValues: null,
                 htmlAttributes: new { @class = "nav-item" }
                 )

        @Html.ActionLink(
                 linkText: "User Management",

                 actionName: "Usermanagement",



                 controllerName: "Home",
                 routeValues: null,
                 htmlAttributes: new { @class = "nav-item" }
                 )

        @Html.ActionLink(
                 linkText: "Settings",
                 actionName: "AdminSettings",
                 controllerName: "Home",
                 routeValues: null,
                 htmlAttributes: new { @class = "nav-item" }
                 )
    </div>



    <div class="main-content">
        <h1 class="page-title"> Transactions</h1>
        <p class="page-description">Overview of all financial transactions in the system.</p>

        <div class="transaction-cards">
            <div class="t-card">
                <h3>Total Revenue Today</h3>
                <p>BWP 8,950</p>
            </div>
            <div class="t-card">
                <h3>Completed Transactions</h3>
                <p>70</p>
            </div>
            <div class="t-card">
                <h3>Pending Transactions</h3>
                <p>8</p>
            </div>
            <div class="t-card">
                <h3>Failed Transactions</h3>
                <p>2</p>
            </div>
        </div>


    </div>


</body>
